p {
text-align: left;
font-family: times-new-roman;
font-size: 12px;
text-indent: 50px; 

}


h1 {
font-family: Florence, Parkavenue, Zapf-Chancery, cursive;
text-decoration: underline;
    
}


p.note /* name of your class here */ {
color: rgb(255,36,0);  
line-height: 1.5;
}


div.notes /* name of your class here */ {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;   
}

ul.instructions {
    list-style-image: url('spoons.gif');
}
    
    
}

body /* if you want the background for the whole page, you should use the "body" selector */ {
background-color: rgb(100,98,78);
    
}
